.footerContainer {
    background: #0d0d0d;
    padding: 0;

    .footerWrapper {
        padding: 18rem 5rem 5rem 5rem;

        @media only screen and (max-width: 1036px) {
            padding: 16rem 3rem 4rem 3rem;
        }
        

        @media only screen and (max-width: 789px) {
            padding: 12rem 1.5rem 4rem 1.5rem;
        }

        .mailInfo {
            display: flex;
            flex-direction: column;

            .text {
                color: #e5e5e5;
                font-size: 1.2rem;
                font-family: "BasisGrotesquePro-light";
                line-height: 10px;

                @media only screen and (max-width: 855px) {
                    font-size: 1rem;
                }

                @media only screen and (max-width: 470px) {
                    font-size: 0.8rem;
                }
            }

            .mail {
                font-size: 3rem;
                color: #f3f3f3;
                cursor: pointer;
                text-decoration: none;

                @media only screen and (max-width: 855px) {
                    font-size: 2rem;
                }

                @media only screen and (max-width: 470px) {
                    font-size: 1.5rem;
                }

                @media only screen and (max-width: 330px) {
                    font-size: 1.2rem;
                }
            }
        }

        .otherLinks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 8rem;

            .socials {
                display: flex;
                flex-direction: column;

                .socialLink {
                    color: #e5e5e5;
                    font-size: 2rem;
                    cursor: pointer;
                    text-decoration: none;

                    @media only screen and (max-width: 855px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 470px) {
                        font-size: 1.1rem;
                    }
                }
            }

            .linksSec {
                display: flex;
                flex-direction: column;

                .footLink {
                    color: #e5e5e5;
                    font-size: 2rem;
                    text-align: right;
                    cursor: pointer;
                    text-decoration: none;

                    @media only screen and (max-width: 855px) {
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width: 470px) {
                        font-size: 1.1rem;
                    }
                }

                .activeFootLink {
                    font-weight: bold;
                }
            }
        }
    }
}
