.navbarContainer {
    height: 64px;
    background-color: #17181b;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    transition: all 0.5s ease;
    padding: 0rem;

    .wrapper {
        height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0rem 6rem;

        @media only screen and (max-width: 975px) {
            padding: 0rem 4rem;
        }

        @media only screen and (max-width: 570px) {
            padding: 0rem 1.3rem;
        }

        .mainNav {
            transition: all 0.3s ease;

            @media only screen and (max-width: 570px) {
                display: none;
            }

            .navLink {
                margin-left: 4rem;
                position: relative;
                color: #e5e5e5;
                text-decoration: none;
                font-size: 1.1rem;
                font-family: "BasisGrotesquePro";

                @media only screen and (max-width: 775px) {
                    margin-left: 2.5rem;
                }
            }

            .activeLink {
                &::before {
                    animation: fade 1s linear;
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: -6px;
                    transform: translateX(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #e76f51;
                }
            }
        }

        .hamSec {
            display: none;

            @media only screen and (max-width: 570px) {
                display: block;
            }

            .ham {
                color: #f3f3f3;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.sidebarContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;

    .closeSec {
        height: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0rem 1.3rem;

        .close {
            font-size: 1.7rem;
            cursor: pointer;
        }
    }

    .sidebarWrapper {
        padding-top: 2rem;

        .mainNav {
            display: flex;
            flex-direction: column;
            align-items: center;

            .navLink {
                position: relative;
                color: #5d5d5d;
                text-decoration: none;
                font-size: 2.5rem;
                font-family: "BasisGrotesquePro";
                margin: 0.6rem 0rem;
            }

            .activeLink {
                color: #111;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
