@font-face {
  font-family: "BasisGrotesquePro";
  src: url("/fonts/basis-grotesque-pro/BasisGrotesquePro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "BasisGrotesquePro-light";
  src: url("/fonts/basis-grotesque-pro/BasisGrotesquePro-Light.ttf") format('truetype');
}

@font-face {
  font-family: "BasisGrotesquePro-bold";
  src: url("/fonts/basis-grotesque-pro/BasisGrotesquePro-Bold.ttf") format('truetype');
}


html,
body {
  padding: 0;
  margin: 0;
  background: #17181b;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "BasisGrotesquePro";
}




